@use 'variables' as *;
@use 'mixins' as *;

.cta {
    
    &__container {
        @include container;
    }
    
    &__content {
        position: relative;
        text-align: center;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    &__title {
        font-size: 1.25rem;
        font-weight: 600;
        color: $color-white;
        line-height: 1.1;
        letter-spacing: -0.02em;
        margin: 0;
        position: relative;
        z-index: 2;
        
        @include respond-to(sm) {
            font-size: 1.875rem;
        }
        
        @include respond-to(md) {
            font-size: 2.5rem;
        }
        
        @include respond-to(lg) {
            font-size: 3.5rem;
        }
        
        @include respond-to(xl) {
            font-size: 4rem;
        }
        
        &--top {
            margin-bottom: - $spacing-3;
            position: relative;
            z-index: 1;
            
            @include respond-to(md) {
                margin-bottom: - $spacing-5;
            }
            
            @include respond-to(lg) {
                margin-bottom: - $spacing-6;
            }
        }
        
        &--bottom {
            margin-top: - $spacing-3;
            position: relative;
            z-index: 1;
            
            @include respond-to(md) {
                margin-top: - $spacing-5;
            }
            
            @include respond-to(lg) {
                margin-top: - $spacing-6;
            }
        }
    }
    
    &__actions {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 10;
        margin: 0;
        gap: $spacing-2;
        width: 100%;
        
        @include respond-to(sm) {
            flex-direction: row;
            width: auto;
            gap: $spacing-3;
        }
        
        .button {
            width: 100%;
            max-width: 100px; // Mobile default
            height: 45px;
            font-size: 0.875rem;
            font-weight: 400;
            padding: 0 $spacing-6;
            
            @include respond-to(sm) {
                width: auto;
                max-width: none;
                font-size: 1.25rem; 
                height: 56px;
                padding: 0 $spacing-8;
            }
            
            @include respond-to(md) {
                height: 64px;
                font-size: 1.5rem;
                padding: 0 $spacing-10;
            }
            
            @include respond-to(lg) {
                max-width: 320px;
                height: 80px;
                font-size: 2rem;
                padding: $spacing-3 60px;
            }
            
           
        }
    }
}
