@import "tailwindcss";

@theme {
  --color-steel-blue-50: #f4f7fa;
  --color-steel-blue-100: #e3eaf2;
  --color-steel-blue-200: #cad6e6;
  --color-steel-blue-300: #a4bad4;
  --color-steel-blue-400: #789bc0;
  --color-steel-blue-500: #577fae;
  --color-steel-blue-600: #436691;
  --color-steel-blue-700: #375276;
  --color-steel-blue-800: #304561;
  --color-steel-blue-900: #2b3b51;
  --color-steel-blue-950: #1b2533;
}

@layer base {
  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
  }

  .headline-large {
    font-size: 32px;
    line-height: 130%;
  }

  .headline-medium {
    font-size: 20px;
    line-height: 130%;
  }

  .body-large {
    font-size: 16px;
    line-height: 150%;
  }

  .body-small {
    font-size: 12px;
    line-height: 150%;
  }
}
